import React from 'react';
import renderer from 'react-test-renderer';
import 'jest-styled-components';

import {{componentName}} from './index';

test('it works', () => {
    const tree = renderer
        .create(
            <{{componentName}}>
                <p>Hello world!</p>
            </{{componentName}}>
        )
        .toJSON();
    expect(tree).toMatchSnapshot();
});
