{
    "processors": [
        "stylelint-processor-styled-components"
    ],
    "extends": [
        "stylelint-config-recommended",
        "stylelint-config-styled-components"
    ],
    "ignoreFiles": [
        "./src/components/theme-provider/*.tsx",
        "./node_modules/**"
    ]
}
