@import '../global.module.scss';

.ButtonOuter {
    display: inline-flex;
    transition: box-shadow 0.08s ease-in 0s;
}

.ButtonOuter:disabled {
    opacity: 0.75;
}

.ButtonInner {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    border-style: solid;
    grid-gap: var(--size__2);
    border-width: var(--border-width__thinner);
    border-radius: var(--border-radius__squarer);
    background-color: var(--color-grey__lightest);
}

.ButtonOuter > .ButtonInner {
    font-weight: var(--font-weight__500);
}

.ButtonOuter:disabled > .ButtonInner:not(.primary) {
    background-color: var(--color-grey__light);
}

.ButtonOuter:hover,
.ButtonOuter:focus {
    cursor: pointer;
    transition: box-shadow 0.08s ease-out 0s;
    box-shadow: var(--elevation__higher);
}

.ButtonOuter:hover:disabled {
    cursor: not-allowed;
}

.ButtonInner.small {
    padding: var(--size__1) var(--size__2);
}

.ButtonInner.medium {
    padding: var(--size__2);
}

.ButtonInner.large {
    padding: var(--size__3) var(--size__2);
}

.ButtonInner.primary {
    color: var(--color-grey__lightest);
    background-color: var(--color-primary__darkest);
    border-color: var(--color-primary__darkest);
}

.ButtonInner.primary:hover {
    border-color: var(--color-grey__darkest);
}

.ButtonInner.secondary {
    color: var(--color-primary__darkest);
    background-color: var(--color-grey__lightest);
    border-color: var(--color-primary__dark);
}

.ButtonInner.secondary:hover {
    border-color: var(--color-primary__darkest);
}

.ButtonInner.tertiary {
    color: var(--color-grey__darkest);
    background-color: var(--color-grey__lightest);
    border-color: var(--color-grey__dark);
}

.ButtonInner.tertiary:hover {
    border-color: var(--color-grey__darkest);
}

.ButtonInner.danger {
    color: var(--color-danger__darkest);
    background-color: var(--color-grey__lightest);
    border-color: var(--color-danger__dark);
}

.ButtonInner.danger:hover {
    border-color: var(--color-danger__darkest);
}

.block {
    display: block;
    width: 100%;
}
