@import '../global.module';

.this {
    --text-color-primary: var(--color-neutral-lightest);
    --text-color-secondary: var(--color-primary-darkest);
    --text-color-tertiary: var(--color-neutral-darkest);
    --text-color-danger: var(--color-danger-darkest);
    --background-color-primary: var(--color-primary-darkest);
    --background-color-secondary: var(--color-neutral-lightest);
    --background-color-tertiary: var(--color-neutral-lightest);
    --background-color-danger: var(--color-neutral-lightest);
    --border-color-primary: var(--color-primary-darkest);
    --border-color-secondary: var(--color-primary-dark);
    --border-color-tertiary: var(--color-neutral-dark);
    --border-color-danger: var(--color-danger-dark);
    --border-hover-color-primary: var(--color-neutral-darkest);
    --border-hover-color-secondary: var(--color-primary-darkest);
    --border-hover-color-tertiary: var(--color-neutral-darkest);
    --border-hover-color-danger: var(--color-danger-darkest);

    display: inline-flex;
    transition: box-shadow var(--transition-ease-in-slow);
    border-radius: var(--border-radius-squarer);

    &:disabled {
        opacity: 0.75;
    }

    &:disabled > :not(.level-primary) {
        background-color: var(--color-neutral-light);
    }

    &:hover,
    &:focus {
        cursor: pointer;
        transition: box-shadow var(--transition-ease-out-slow);
        box-shadow: var(--elevation-higher);

        &:disabled { cursor: not-allowed; }
    }

    &.block {
        display: block;
        width: 100%;
    }
}

.inner {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    border-style: solid;
    grid-gap: var(--size-2);
    border-width: var(--border-width-thinner);
    background-color: var(--color-neutral-lightest);
    border-radius: inherit;

    @each $level in $levels {
        &.level-#{$level} {
            color: var(--text-color-#{$level});
            background-color: var(--background-color-#{$level});
            border-color: var(--border-color-#{$level});

            &:hover {
                border-color: var(--border-hover-color-#{$level});
            }
        }
    }
}

