html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, button,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  transition: border 0.08s cubic-bezier(0.6, 0.04, 0.98, 0.7) 0s, background-color 0.08s cubic-bezier(0.6, 0.04, 0.98, 0.7) 0s, text-decoration-color 0.08s cubic-bezier(0.6, 0.04, 0.98, 0.7) 0s;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block;
}

*[hidden] {
  display: none;
}

body {
  line-height: 1;
  font-size: 62.5%;
}

menu, ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  display: block;
  max-width: 100%;
}

a, button {
  text-decoration: none;
  outline-offset: 2px;
  outline: transparent solid 2px;
}

a:focus, button:focus {
  outline: var(--color-secondary__dark) solid 2px;
}

.ButtonOuter {
  --primary__text-color: var(--color-grey__lightest);
  --secondary__text-color: var(--color-primary__darkest);
  --tertiary__text-color: var(--color-grey__darkest);
  --danger__text-color: var(--color-danger__darkest);
  --primary__background-color: var(--color-primary__darkest);
  --secondary__background-color: var(--color-grey__lightest);
  --tertiary__background-color: var(--color-grey__lightest);
  --danger__background-color: var(--color-grey__lightest);
  --primary__border-color: var(--color-primary__darkest);
  --secondary__border-color: var(--color-primary__dark);
  --tertiary__border-color: var(--color-grey__dark);
  --danger__border-color: var(--color-danger__dark);
  --primary__border-hover-color: var(--color-grey__darkest);
  --secondary__border-hover-color: var(--color-primary__darkest);
  --tertiary__border-hover-color: var(--color-grey__darkest);
  --danger__border-hover-color: var(--color-danger__darkest);
  display: inline-flex;
  transition: box-shadow 0.08s ease-in 0s;
}
.ButtonOuter:disabled {
  opacity: 0.75;
}
.ButtonOuter:disabled > :not(.level-primary) {
  background-color: var(--color-grey__light);
}
.ButtonOuter:hover, .ButtonOuter:focus {
  cursor: pointer;
  transition: box-shadow 0.08s ease-out 0s;
  box-shadow: var(--elevation__higher);
}
.ButtonOuter:hover:disabled, .ButtonOuter:focus:disabled {
  cursor: not-allowed;
}
.ButtonOuter.block {
  display: block;
  width: 100%;
}

.ButtonInner {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  border-style: solid;
  grid-gap: var(--size__2);
  border-width: var(--border-width__thinner);
  border-radius: var(--border-radius__squarer);
  background-color: var(--color-grey__lightest);
}
.ButtonInner.level-primary {
  color: var(--primary__text-color);
  background-color: var(--primary__background-color);
  border-color: var(--primary__border-color);
}
.ButtonInner.level-primary:hover {
  border-color: var(--primary__border-hover-color);
}
.ButtonInner.level-secondary {
  color: var(--secondary__text-color);
  background-color: var(--secondary__background-color);
  border-color: var(--secondary__border-color);
}
.ButtonInner.level-secondary:hover {
  border-color: var(--secondary__border-hover-color);
}
.ButtonInner.level-tertiary {
  color: var(--tertiary__text-color);
  background-color: var(--tertiary__background-color);
  border-color: var(--tertiary__border-color);
}
.ButtonInner.level-tertiary:hover {
  border-color: var(--tertiary__border-hover-color);
}
.ButtonInner.level-danger {
  color: var(--danger__text-color);
  background-color: var(--danger__background-color);
  border-color: var(--danger__border-color);
}
.ButtonInner.level-danger:hover {
  border-color: var(--danger__border-hover-color);
}

/*# sourceMappingURL=Button.module.css.map */
