@import '../global.module.css';

.Text {
    color: var(--color-grey__darkest);
    font-weight: var(--font-weight__400);
    line-height: var(--line-height__looser);
    letter-spacing: var(--letter-spacing__looser);
}

.small {
    font-size: var(--font-size__200);
}

.medium {
    font-size: var(--font-size__300);
}

.large {
    font-size: var(--font-size__400);
}

.sans {
    font-family: var(--font-family__sans);
}

.serif {
    font-family: var(--font-family__serif);
}

.mono {
    font-family: var(--font-family__mono);
}
