@import '../global.module.css';

.Text {
    display: flex;
    flex-direction: column;
    grid-gap: var(--size__2);
    font-size: var(--font-size__300);
    font-family: var(--font-family__sans);
    font-weight: var(--font-weight__400);
    line-height: var(--line-height__tighter);
    color: var(--color-grey__darkest);
}

.Text--small {
    font-size: var(--font-size__200);
}
