@import '../global.module.css';

.Text {
    color: var(--color-grey__darkest);
    line-height: var(--line-height__looser);
    letter-spacing: var(--letter-spacing__looser);
}

.size-small {
    font-size: var(--font-size__200);
}

.size-medium {
    font-size: var(--font-size__300);
}

.size-large {
    font-size: var(--font-size__400);
}

.family-sans {
    font-family: var(--font-family__sans);
}

.family-serif {
    font-family: var(--font-family__serif);
}

.family-mono {
    font-family: var(--font-family__mono);
}

.weight-regular {
    font-weight: var(--font-weight__400);
}

.weight-medium {
    font-weight: var(--font-weight__500);
}

.weight-bold {
    font-weight: var(--font-weight__600);
}
