@import '../../global.module';

.this {
    --text-color__primary: var(--color-grey__lightest);
    --text-color__secondary: var(--color-primary__darkest);
    --text-color__tertiary: var(--color-grey__darkest);
    --text-color__danger: var(--color-danger__darkest);
    --background-color__primary: var(--color-primary__darkest);
    --background-color__secondary: var(--color-grey__lightest);
    --background-color__tertiary: var(--color-grey__lightest);
    --background-color__danger: var(--color-grey__lightest);
    --border-color__primary: var(--color-primary__darkest);
    --border-color__secondary: var(--color-primary__dark);
    --border-color__tertiary: var(--color-grey__dark);
    --border-color__danger: var(--color-danger__dark);

    display: inline-flex;
    text-align: center;
    border-style: solid;
    border-radius: var(--border-radius__roundest);
    border-width: var(--border-width__thinnest);

    .children {
        border-radius: inherit;
    }

    @each $level in $levels {
        &.level-#{$level} {
            color: var(--text-color__#{$level});
            background-color: var(--background-color__#{$level});
            border-color: var(--border-color__#{$level});
        }
    }
}

