.aspectratio {
    position: relative;
    overflow: hidden;
    height: 100%;
}

.aspectratio > :first-child {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
}

.aspectratio > :first-child > img {
    height: auto;
    object-fit: scale-down;
    object-position: 50% 50%;
}

.aspectratio:before {
    display: block;
    content: '';
}

.aspectratio-1-1:before {
    padding-bottom: calc(100% / (1 / 1));
}

.aspectratio-1-2:before {
    padding-bottom: calc(100% / (1 / 2));
}

.aspectratio-3-2:before {
    padding-bottom: calc(100% / (3 / 2));
}

.aspectratio-4-3:before {
    padding-bottom: calc(100% / (4 / 3));
}

.aspectratio-16-9:before {
    padding-bottom: calc(100% / (16 / 9));
}

.aspectratio-9-16:before {
    padding-bottom: calc(100% / (9 / 16));
}
