@import '../global.module';

.this {
    display: flex;
}

.inner {
    display: flex;
    grid-gap: var(--gutter-small);
    background-color: var(--colour-core-lightest);
    flex-direction: column;

    @media screen and (min-width: 480px) {
        flex-direction: row;
    }
}

.link {
    width: 100%;
}

.active {
    background-color: var(--colour-neutral-lightest);
    box-shadow: var(--elevation-lowest);
}
