@import '../global.module';

.this {
    display: flex;
}

.inner {
    display: flex;
    flex-direction: row;
    grid-gap: var(--gutter-small);
    background-color: var(--colour-core-lightest);
}

.active {
    background-color: var(--colour-neutral-lightest);
    box-shadow: var(--elevation-lowest);
}

.link {
    border: transparent solid var(--border-width-thinner);
    border-radius: var(--border-radius-squarer);
}

.link:focus {
    border: var(--colour-secondary-dark) solid var(--border-width-thinner);
}

