@import '../global.module';

@keyframes fadeIn {
    0% { opacity: 0 }
    50% { opacity: 0 }
    100% { opacity: 1 }
}

@keyframes thinking {
    0% { opacity: 1 }
    50% { opacity: 0.6 }
    100% { opacity: 1 }
}

@keyframes slideRight {
    0% { transform: translate3d(-100%,0,0) }
    80% { transform: translateZ(0) }
    90% { transform: translate3d(-5%,0,0) }
    100% { transform: translateZ(0) }
}

@keyframes slideUpLeft {
    0% { transform: translate3d(100%,100%,0) }
    80% { transform: translateZ(0) }
    90% { transform: translate3d(5%,5%,0) }
    100% { transform: translateZ(0) }
}

@keyframes slideDown {
    0% { transform: translate3d(0,-100%,0) }
    80% { transform: translateZ(0) }
    90% { transform: translate3d(0,-5%,0) }
    100% { transform: translateZ(0) }
}

.Logo {
    width: var(--size__16);
    overflow: hidden;
    animation: fadeIn;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;

    .A {
        fill: var(--color-tertiary__dark);
    }

    .B {
        fill: var(--color-primary__dark);
    }

    .C {
        fill: var(--color-secondary__dark);
    }

    &.animation-fade {}

    &.animation-slide {
        .A {
            animation: slideRight;
            animation-delay: 0.1s;
            animation-duration: 0.8s;
            animation-iteration-count: 1;
            animation-timing-function: linear;
        }

        .B {
            animation: slideUpLeft;
            animation-delay: 0.2s;
            animation-duration: 0.8s;
            animation-iteration-count: 1;
            animation-timing-function: linear;
        }

        .C {
            animation: slideDown;
            animation-delay: 0.3s;
            animation-duration: 0.6s;
            animation-iteration-count: 1;
            animation-timing-function: linear;
        }
    }
}
