html, body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.4;
}

:root {
    --color-yellow: rgb(235, 199, 100);
    --color-blue: rgb(23, 163, 165);
    --color-darkblue: rgb(0, 112, 114);
    --color-green: rgb(114, 175, 93);
    --color-grey: rgb(102, 104, 125);
    --color-black: rgb(41, 43, 62);
}
