@import '../global.module';

.this {
    --size-small: var(--font-size-500);
    --size-medium: var(--font-size-600);
    --size-large: var(--font-size-700);

    line-height: var(--line-height-tighter);
    color: var(--color-neutral-darkest);

    @each $size in $sizes {
        &.size-#{$size} {
            font-size: var(--size-#{$size});
        }
    }
}
