@import '../global.module.css';

.Heading {
    line-height: var(--line-height__tighter);
    color: var(--color-grey__darkest);
}

.size-large {
    font-size: var(--font-size__700);
}

.size-medium {
    font-size: var(--font-size__600);
}

.size-small {
    font-size: var(--font-size__500);
}

