@import '../global.module.css';

.Elevated--elevation-0 {
    box-shadow: var(--elevation__none);
}

.Elevated--elevation-1 {
    box-shadow: var(--elevation__lowest);
}

.Elevated--elevation-2 {
    box-shadow: var(--elevation__lower);
}

.Elevated--elevation-3 {
    box-shadow: var(--elevation__higher);
}

.Elevated--elevation-4 {
    box-shadow: var(--elevation__highest);
}
