@import '../global.module';

.this {
    --gutter-none: var(--size-0);
    --gutter-small: var(--size-1);
    --gutter-medium: var(--size-2);
    --gutter-large: var(--size-3);
    --elevation-none: var(--elevation-none);
    --elevation-small: var(--elevation-lower);
    --elevation-medium: var(--elevation-higher);
    --elevation-large: var(--elevation-highest);
}

@each $size in $sizes {
    .gutter-#{$size} {
        padding: var(--gutter-#{$size});
    }

    .gutterX-#{$size} {
        padding-left: var(--gutter-#{$size});
        padding-right: var(--gutter-#{$size});
    }

    .gutterY-#{$size} {
        padding-top: var(--gutter-#{$size});
        padding-bottom: var(--gutter-#{$size});
    }

    .elevation-#{$size} {
        box-shadow: var(--elevation-#{$size});
    }
}
