@import '../global.module.css';

.gutter-0 {
    padding: var(--size__0);
}

.gutter-1 {
    padding: var(--size__1);
}

.gutter-2 {
    padding: var(--size__2);
}

.gutter-3 {
    padding: var(--size__3);
}

.gutter-4 {
    padding: var(--size__4);
}

.gutterX-0 {
    padding-left: var(--size__0);
    padding-right: var(--size__0);
}

.gutterX-1 {
    padding-left: var(--size__1);
    padding-right: var(--size__1);
}

.gutterX-2 {
    padding-left: var(--size__2);
    padding-right: var(--size__2);
}

.gutterX-3 {
    padding-left: var(--size__3);
    padding-right: var(--size__3);
}

.gutterX-4 {
    padding-left: var(--size__4);
    padding-right: var(--size__4);
}

.gutterY-0 {
    padding-top: var(--size__0);
    padding-bottom: var(--size__0);
}

.gutterY-1 {
    padding-top: var(--size__1);
    padding-bottom: var(--size__1);
}

.gutterY-2 {
    padding-top: var(--size__2);
    padding-bottom: var(--size__2);
}

.gutterY-3 {
    padding-top: var(--size__3);
    padding-bottom: var(--size__3);
}

.gutterY-4 {
    padding-top: var(--size__4);
    padding-bottom: var(--size__4);
}

.elevation-0 {
    box-shadow: var(--elevation__none);
}

.elevation-1 {
    box-shadow: var(--elevation__lowest);
}

.elevation-2 {
    box-shadow: var(--elevation__lower);
}

.elevation-3 {
    box-shadow: var(--elevation__higher);
}

.elevation-4 {
    box-shadow: var(--elevation__highest);
}
