@import '../global.module.css';

.Link {
    color: var(--color-primary__darkest);
    text-underline-offset: var(--size__1);
    text-decoration-color: var(--color-primary__light);
    text-decoration-thickness: var(--border-width__thinner);
    text-decoration-line: underline;
}

.Link:hover {
    text-decoration-color: var(--color-primary__dark);
    cursor: pointer;
}
