@import '../global.module';

.this {
    color: var(--color-primary-darkest);
    text-underline-offset: var(--size-1);
    text-decoration-color: var(--color-primary-light);
    text-decoration-thickness: var(--border-width-thinner);
    text-decoration-line: underline;

    &:hover {
        text-decoration-color: var(--color-primary-dark);
        cursor: pointer;
    }
}
